.movie-details {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-details__intro {
  width: 80%;
}

.movie-details__backdrop {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 35%;
}

.movie-details__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
}

.movie-details__detail-left {
  margin-right: 30px;
}

.movie-details__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 22px 40px 6px rgba(0, 0, 0, 0.86);
}

.movie-details__detail-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.movie-details__detail-right-top > div {
  text-shadow: 0 0 5px #000;
  margin-bottom: 0.5rem;
}

.movie-details__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie-details__vote-count {
  margin-left: 1rem;
}

.movie-details__genres {
  margin: 1.25rem 0;
}

.movie-details__genre {
  padding: 0.5rem;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-right: 1rem;
}

.movie-details__detail-right-bottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsis-text {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}

.synopsis-text > div:last-of-type {
  margin-left: auto;
}

.movie-details__links {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.movie-details__heading {
  font-size: 2.2rem;
}

.movie-details__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.movie-details__home-button {
  background-color: rgb(255, 0, 0);
}

.movie-details__imdb-button {
  background-color: #f3ce13;
}

.new-tab {
  margin-left: 1.4rem;
}

.movie-details__production {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
}

.movie-details__production-company {
  width: 200px;
  margin: 2rem;
}

.production-company-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}