.home-poster {
  height: 600px;
  position: relative;
}

.home-poster > img {
  margin: auto;
  display: block;
  width: 100%;
}

.home-poster__overlay {
  position: absolute;
  padding: 2rem;
  bottom: 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  opacity: 0;
  transition: opacity 0.3s;
}

.home-poster:hover .home-poster__overlay {
  opacity: 1;
}

.home-poster__title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.4rem;
  text-align: left;
  color: #fff;
}

.home-poster__runtime {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.home-poster__rating {
  margin-left: 1rem;
  color: #ffd700; /* gold color for star */
}

.home-poster__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  text-align: left;
  width: 80%;
  color: #fff;
}
